<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788794383607-tb9eic1ncs076hp82q38a7p5rdtu3qoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788794383607-tb9eic1ncs076hp82q38a7p5rdtu3qoi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788794383607-bk0q3gpb84c1f4g6a6bkl4c5p1rl0i0g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnu9Nf--hTr0yGw5VfsPK7DHFNkVwdipU</string>
	<key>GCM_SENDER_ID</key>
	<string>788794383607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.higuchiyuya.riddle.dev</string>
	<key>PROJECT_ID</key>
	<string>riddle-b4b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>riddle-b4b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788794383607:ios:9d3fe1afa890d8e2a487f2</string>
</dict>
</plist>