<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788794383607-h68s00965popobsn68popeckmb59b3if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788794383607-h68s00965popobsn68popeckmb59b3if</string>
	<key>API_KEY</key>
	<string>AIzaSyDnu9Nf--hTr0yGw5VfsPK7DHFNkVwdipU</string>
	<key>GCM_SENDER_ID</key>
	<string>788794383607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riddle</string>
	<key>PROJECT_ID</key>
	<string>riddle-b4b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>riddle-b4b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788794383607:ios:3ede3d97d6a89eefa487f2</string>
</dict>
</plist>